[submodule "EmotionTagger"]
	path = EmotionTagger
	url = https://github.com/cltl/EmotionTagger
[submodule "Hotlist-Scholar/CERMINE"]
	path = Hotlist-Scholar/CERMINE
	url = https://github.com/CeON/CERMINE
