$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  height: 100%;
}

body {
  padding: 0;
  height: 100%;
}

#application {
  height: 100%;
}

.container {
  height: 100%;
}

#main-content {
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align: center;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    color: #336699;
    font-size: 48px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: fixed;
  bottom: 0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  /* FireFox */
  height: -moz-calc(100% - 300px);
  /* WebKit */
  height: -webkit-calc(100% - 300px);
  /* Opera */
  height: -o-calc(100% - 300px);
  /* Standard */
  height: calc(100% - 300px);

  text-align: center;
  border: 1px solid #dce8f8;
  background-color: #ffffff;
  padding: 0px !important;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

  .msg-overview{
    height: 100%;
    background-color: #f6f8fa;
    overflow: auto;
    padding-top: 30px;

    .msg{
      font-size: 11pt;
    }

    .msg-body {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .msg-server {
      font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      font-weight: 500;
      text-align: left;
      max-width: 70%;
      margin-left: 8.5%;
      float: left;

      .msg-body{
        background-color: #7b99cc;
        color: #ffffff;
        -webkit-border-radius: 10px 10px 10px 0px;
        -moz-border-radius: 10px 10px 10px 0px;
        border-radius: 10px 10px 10px 0px;
      }
    }

    .msg-client {
      font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      font-weight: 500;
      text-align: right;
      max-width: 70%;
      margin-right: 8.5%;
      float: right;

      .msg-body{
        background-color: #e6e9eb;
        color: #606060;
        -webkit-border-radius: 10px 10px 0px 10px;
        -moz-border-radius: 10px 10px 0px 10px;
        border-radius: 10px 10px 0px 10px;
      }
    }
  }

  .msg-input {
    width: 100%;
    position: relative;
    bottom: 0px;
    left: -50%;
    height: 60px;

    input[type=text] {
      position: absolute;
      height: 100%;
      width: 100%;
      padding-left: 30px;
      color: #7b99cc;
      font-weight: 500;
    }
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.gray-bg{
  background-color: #2B2A27;
}


.response-editor {
  background-color: #eee;
  color: #555;
}

.go-back {
  font-family: monospace;
  font-style: italic;
  margin: 10px 0px 0px 20px;

  a {
    color: gray;
    text-decoration: underline;
  }
}

.code-container {
  button {
    margin-top: 10px;
    font-family: monospace;
    background-color: #fff;
    border: none;
    border-radius: .25em;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  }

  .add-response {
    margin-left: 5%;
  }

  .remove-response {
    margin-left: 1%;
  }

  .save-responses {
    margin-top: 2%;
    margin-left: 5%;
  }

  .type {
    margin-left: 5%;
    font-family: monospace;
  }

  input {
    width: 95%;
    border: none;
  }

  .spacer {
    margin: 2em;
  }

  .spacer-top {
    margin: 3em;
  }

  .highlight-type {
    color: #fb2d7e;
  }

  .box-text {
    font-family: monospace;
    font-size: 0.9em;
    top: 10px;
    position: relative;
    padding-left: 5%;
  }

  pre {
    font-family: monospace;
    background-color: #fff;
    //width: em(440);
    width: 90%;
    //margin: 4em auto;
    margin: 0 auto;
    padding: 0.5em;
    border-radius: .25em;
    box-shadow: .1em .1em .5em rgba(0,0,0,.45);
    line-height: 0;
    counter-reset: line;

    .fa {
      float: right;
    }

    p {
      margin: 0;
      display: block;
      line-height: 1.5rem;

      &:before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        border-right: 1px solid #ddd;
        padding: 0 .5em;
        margin-right: .5em;
        color: #888
      }
    }
  }
}

#chat-box {
  float: left;
  width: 70%;
}

#entity-box {
  /* FireFox */
  height: -moz-calc(100% - 176px);
  /* WebKit */
  height: -webkit-calc(100% - 176px);
  /* Opera */
  height: -o-calc(100% - 176px);
  /* Standard */
  height: calc(100% - 176px);

  float: right;
  width: 28%;
  overflow-y: scroll;
  border: 1px solid #dce8f8;
  background-color: #f6f8fa;
  padding-left: 20px;
  padding-right: 20px;

  h2 {
    font-size: 2em;
    text-align: center;
  }
}
