<div class="jumbotron" id="chat-box">
  <div class="msg-header">
    <h2>{{ connection.status }}</h2>
  </div>
  <div class="msg-overview">
    <div ng-repeat="message in messages">
      <div class="msg" ng-class="{'msg-server': message.server, 'msg-client': !message.server}">
        <div class="msg-body">
          <span>{{ message.text }}</span>
        </div>
        <div class="msg-user">
          <span>{{ message.user }}, {{ message.time }}</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="msg-input">
    <form ng-submit="submit()">
      <input ng-model="inputText" type="text" placeholder="Enter some text" name="sentence" autocomplete="off">
    </form>
  </div>
</div>

<div id="entity-box">
  <h2>Info</h2>
  <p>Organisations and people that Robin knows something about:</p>

  <ul>
    <li>Apple Inc.</li>
    <li>Japan</li>
    <li>Canada</li>
    <li>Microsoft</li>
    <li>Germany</li>
    <li>Massachusetts Institute of Technology</li>
    <li>Aristotle</li>
    <li>Cornell University</li>
    <li>Andromeda </li>
    <li>IBM</li>
    <li>The New York Times</li>
    <li>Ancient Rome</li>
    <li>Gottfried Wilhelm Leibniz</li>
    <li>Isaac Newton</li>
    <li>Tesla Motors</li>
    <li>United Kingdom</li>
    <li>Albert Einstein</li>
    <li>Harvard University</li>
    <li>California</li>
    <li>United States</li>
    <li>China</li>
    <li>Karl Popper</li>
    <li>René Descartes</li>
    <li>Alan Turing</li>
    <li>Bertrand Russell</li>
    <li>Plato</li>
    <li>Thomas Kuhn</li>
    <li>Mass Effect</li>
    <li>Charles Darwin</li>
    <li>Galileo Galilei</li>
    <li>University of Cambridge</li>
    <li>Noam Chomsky</li>
    <li>Stephen Hawking</li>
    <li>David Hume</li>
    <li>University of Oxford</li>
    <li>Wilhelm Wundt</li>
    <li>Google Search</li>
    <li>University of California, Berkeley</li>
    <li>Alfred North Whitehead</li>
    <li>John Searle</li>
    <li>Marvel Comics</li>
    <li>Princeton University</li>
    <li>Astro Boy</li>
    <li>James Clerk Maxwell</li>
    <li>Ronald Fisher</li>
    <li>Jürgen Habermas</li>
    <li>Robert Boyle</li>
    <li>Massachusetts</li>
    <li>Boston</li>
    <li>The Matrix</li>
    <li>SpaceX</li>
    <li>Paramount Pictures</li>
    <li>Intel</li>
    <li>DC Comics</li>
    <li>Sherlock Holmes</li>
    <li>Adobe Flash</li>
    <li>Dark Horse Comics</li>
    <li>Adventure Game Interpreter</li>
  </ul>

  <p>Types of organisations and people that you can ask Robin about:</p>
  <ul>
    <li>Scientist</li>
    <li>Philosopher</li>
    <li>Engineer</li>
    <li>Journalist</li>
    <li>Fictional Character</li>
    <li>Educational Institution</li>
    <li>Country</li>
    <li>Cities</li>
    <li>Continent</li>
    <li>Region</li>
    <li>Administrative Region</li>
    <li>Book</li>
    <li>Periodical Literature</li>
    <li>Academic Journal</li>
    <li>Programming Language</li>
    <li>Film</li>
    <li>Videogame</li>
    <li>Television show</li>
    <li>Comics character</li>
    <li>University</li>
    <li>Company</li>
  </ul>
</div>
<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
