<div class="jumbotron">
  <div class="msg-header">
    <h2>{{ connection.status }}</h2>
  </div>
  <div class="msg-overview">
    <div ng-repeat="message in messages">
      <div class="msg" ng-class="{'msg-server': message.server, 'msg-client': !message.server}">
        <div class="msg-body">
          <span>{{ message.text }}</span>
        </div>
        <div class="msg-user">
          <span>{{ message.user }}, {{ message.time }}</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="msg-input">
    <form ng-submit="submit()">
      <input ng-model="inputText" type="text" placeholder="Enter some text" name="sentence" autocomplete="off">
    </form>
  </div>
</div>
<!--
<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
